body {
  background-color: black;
}
.body {
  width: 1024px;
  margin: 0 auto;
  border: 1px solid white;
}
header {
  width: 1024px;
  height: 192px;
  padding-top: 58px;
}
header > .ha {
  position: relative;
  height: 78px;
  text-align: center;
  margin: 0 60px;
  border-bottom: 1px solid #e98923;
}
header > .ha > .search {
  position: absolute;
  right: 2px;
  top: 0;
  width: 140px;
  height: 35px;
}
header > .ha > .search > form {
  position: relative;
  font-size: 14px;
}
header > .ha > .search > form > #search_ha {
  color: white;
  text-indent: 1em;
  background-color: transparent;
  padding-right: 40px;
  width: 140px;
  height: 35px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
header > .ha > .search > form i {
  color: white;
  position: absolute;
  cursor: pointer;
  width: 35px;
  height: 35px;
  top: 0;
  right: 0;
  line-height: 35px;
}
header > .hb {
  position: relative;
  height: 57px;
  padding-left: 70px;
}
header > .hb > .nav_top {
  height: 57px;
}
header > .hb > .nav_top > li {
  position: relative;
  float: left;
  width: 158px;
  font-size: 19px;
  line-height: 57px;
}
header > .hb > .nav_top > li > .active {
  color: white;
  box-shadow: 0 0 30px rgba(246, 194, 87, 0.7);
  background-color: rgba(246, 194, 87, 0.3);
}
header > .hb > .nav_top > li > a {
  display: block;
  float: left;
  color: white;
  margin-top: 9px;
  height: 40px;
  padding: 0 12px;
  border-radius: 20px;
  line-height: 40px;
}
header > .hb > .nav_top > li > a > .more {
  display: none;
  position: absolute;
  top: 42px;
  left: -5px;
  z-index: 111;
  width: 145px;
  padding-bottom: 20px;
  text-indent: 1em;
  letter-spacing: 1px;
  border-radius: 8px;
  color: white;
  background-color: rgba(232, 135, 37, 0.7);
}
header > .hb > .nav_top > li > a > .more .item {
  transition: 0.3s;
  padding-left: 0px;
}
header > .hb > .nav_top > li > a > .more .item:hover {
  padding-left: 10px;
}
header > .hb > .nav_top > li > a:hover {
  box-shadow: 0 0 30px rgba(246, 194, 87, 0.7);
  background-color: rgba(246, 194, 87, 0.3);
}
header > .hb > .nav_top > li > a:hover > .more {
  display: block;
}
header > .hb > .nav_top > li > .item {
  position: relative;
  line-height: 40px;
  height: 30px;
  font-size: 16px;
}
.nav_pic {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 304px;
}
.nav_pic > .i_ul {
  position: relative;
  width: 400%;
  height: 100%;
}
.nav_pic > .i_ul > li {
  position: relative;
  text-align: center;
  width: 25%;
  height: 100%;
  float: left;
}
.nav_pic > .i_ul > li > a > img {
  width: 100%;
}
.nav_pic .i_ul_pointer {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10px;
  margin: 0 auto;
}
.nav_pic .i_ul_pointer .pointer {
  display: inline-block;
  margin: 0 16px;
  width: 30px;
  height: 8px;
  overflow: hidden;
  background-color: white;
  border-radius: 1px;
}
.nav_pic .i_ul_pointer .p_active {
  background-color: rgba(232, 135, 37, 0.7);
}
.content {
  margin-top: 20px;
}
.content .row_c {
  width: 904px;
  margin: 0 auto;
}
.content .row_c > .header_c {
  height: 36px;
  line-height: 36px;
  padding-right: 5px;
  border-bottom: 1px solid #e98923;
  text-align: right;
}
.content .row_c > .header_c .big_font {
  font-size: 22px;
  color: #e98923;
}
.content .row_c > .header_c .title {
  color: white;
  text-align: left;
  float: left;
  height: 36px;
  width: 80px;
  border: 1px solid #e98923;
}
.content .row_c > .header_c a {
  color: #e98923;
}
.content .row_c > .content_c {
  width: 100%;
  padding-left: 64px;
  margin-top: 14px;
  overflow: hidden;
}
.content .row_c > .content_c > .item {
  position: relative;
  float: left;
  width: 186px;
  margin-right: 88px;
}
.content .row_c > .content_c > .item > .title {
  position: relative;
  z-index: 999;
  color: white;
  font-size: 12px;
}
.content .row_c > .content_c > .item > .good_pic_wrap {
  width: 186px;
  position: relative;
}
.content .row_c > .content_c > .item > .good_pic_wrap > .icon {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -1px;
  z-index: 99;
}
.content .row_c > .content_c > .item > .good_pic_wrap > .good_pic {
  position: relative;
  width: 172px;
  height: 162px;
  margin-top: 8px;
  margin-left: 14px;
  border: 1px solid white;
  border-radius: 6px;
  overflow: hidden;
}
.content .row_c > .content_c > .item > .good_pic_wrap > .good_pic img {
  width: 100%;
}
.content .row_c > .content_c > .item > .good_pic_wrap::before {
  content: "";
  background-color: black;
  position: absolute;
  z-index: 99;
  top: -21px;
  left: -6px;
  width: 20px;
  height: 70px;
  border-right: 1px solid white;
  transform-origin: bottom right;
  transform: rotate(46deg);
}
footer {
  position: relative;
  width: 1024px;
  color: white;
  text-align: center;
  font-size: 11px;
  margin-top: 60px;
}
/*# sourceMappingURL=index.css.map */