
.content {
  margin-top: 50px;
  background-color: white;
  width: 1024px;
  padding-left: 60px;
  padding-top: 20px;
  .title{
    font-size: 30px;
    color: black;
    border-bottom: 1px solid #ccc;
  }
}

.bc_footer {
  background-color: #e98923;
}