
.content {
  color: black;
  margin-top: 50px;
  background-color: white;
  width: 1024px;
  padding: 20px 60px 0;
  >.title{
    font-size: 28px;
    letter-spacing: 1px;
    color: black;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 10px;
  }
  >.content_c{
    width: 100%;
    border-right: 1px solid #ccc;
  }
}
.bc_footer {
  background-color: #e98923;
}
//登陆借鉴
//http://www.guerlain.com.cn/static/index/discoverguerlain/