#root .ant-layout-header {
    padding: 0 10px;
}
#root .ant-layout-header .ant-row .logo {
    color: white;
    text-align: center;
    margin-bottom: 0;
}

#root .ant-layout-header .ant-row .headNav {
    overflow: hidden;
    height: 64px;
}

#root .ant-layout-header .ant-row .head_nav .headDivider  {
    height: 44px;
    margin-top: 10px;
    float: left;
}
#root .ant-layout-header .ant-row .head_nav .hn_list {
    height: 64px;
    line-height: 64px;
    float: left;
}
#root .ant-layout-header .ant-row .head_nav .hn_list .ant-menu-item{
    padding: 0 30px;
}
#root .ant-layout-header .ant-row .ant-btn {
    position: absolute;
    top:16px;
    right: 20px;
    color: black;
    border-color: aliceblue;
    outline: none;
}
