<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>face</title>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./src/css/reset.css">
    <link rel="stylesheet" href="./src/css/common.css">
    <link rel="stylesheet" href="./src/css/goods.css">

</head>
<body>
<div class="body">
    <header id="header">
        <div class="ha">
            <a href="#"><img src="./img/logo.png" alt=""></a>
            <div class="search">
                <form action="/">
                    <input type="text" name="search" id="search_ha"><i class="fa fa-search fa-lg"></i>
                </form>
            </div>
        </div>
        <div class="hb">
            <ul class="nav_top">
                <li><a href="index.html">首页</a></li>
                <li><a href="javascript:void(0)" class="active">脸
                    <div class="more">
                        <div class="item" v-for="item in goods_type.face">
                            {{item.type}}
                        </div>
                    </div>
                </a></li>
                <li><a href="eye.html">眼
                    <div class="more">
                        <div class="item" v-for="item in goods_type.eye">
                            {{item.type}}
                        </div>
                    </div>
                </a></li>
                <li><a href="#">唇
                    <div class="more">
                        <div class="item" v-for="item in goods_type.lips">
                            {{item.type}}
                        </div>
                    </div>
                </a></li>

                <li><a href="history.html">品牌历史</a></li>
                <li><a href="login.html">会员登录</a></li>
            </ul>
        </div>
    </header>
    <div class="nav_pic">
        <img src="./img/face.jpeg" alt="">
    </div>


    <section class="content" id="index_content">
        <div class="step_line">
            <step_line step="Step1" :types="goods_type.face"></step_line>
            <step_line step="Step2"></step_line>
            <step_line step="Step3"></step_line>
        </div>
        <div class="goods">
            <div class="row_g">
                <div class="item">
                    <div class="good_pic">
                        <a href="#"><img src="./img/g1.jpg" alt=""></a>
                    </div>
                    <div class="num">￥289</div>
                    <div class="buy">
                        快速购买
                    </div>
                </div>
                <div class="item">
                    <div class="good_pic">
                        <a href="#"><img src="./img/g2.jpg" alt=""></a>
                    </div>
                    <div class="num">￥1068</div>
                    <div class="buy">
                        快速购买
                    </div>
                </div>
                <div class="item">
                    <div class="good_pic">
                        <a href="#"><img src="./img/g3.jpg" alt=""></a>
                    </div>
                    <div class="num">￥548</div>
                    <div class="buy">
                        快速购买
                    </div>
                </div>
            </div>
            <div class="row_g">
                <div class="item">
                    <div class="good_pic">
                        <a href="#"><img src="./img/g7.png" alt=""></a>
                    </div>
                    <div class="num">￥399</div>
                    <div class="buy">
                        快速购买
                    </div>
                </div>
                <div class="item">
                    <div class="good_pic">
                        <a href="#"><img src="./img/g5.jpg" alt=""></a>
                    </div>
                    <div class="num">￥89</div>
                    <div class="buy">
                        快速购买
                    </div>
                </div>
                <div class="item">
                    <div class="good_pic">
                        <a href="#"><img src="./img/g6.jpg" alt=""></a>
                    </div>
                    <div class="num">￥368</div>
                    <div class="buy">
                        快速购买
                    </div>
                </div>
            </div>
            <div class="row_g">
                <div class="item">
                    <div class="good_pic">
                        <a href="#"><img src="./img/g4.jpg" alt=""></a>
                    </div>
                    <div class="num">￥486</div>
                    <div class="buy">
                        快速购买
                    </div>
                </div>
                <div class="item">
                    <div class="good_pic">
                        <a href="#"><img src="./img/g8.jpg" alt=""></a>
                    </div>
                    <div class="num">￥668</div>
                    <div class="buy">
                        快速购买
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer class="bc_footer">
        <p>公司地址：江苏省南京市鼓楼区紫峰大厦</p>
        <p>联系电话：15266666666</p>
        <p>版权信息：侵权必究</p>
    </footer>

</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="src/js/app.js"></script>
</body>
</html>