<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>U</title>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./src/css/reset.css">
    <link rel="stylesheet" href="./src/css/common.css">
    <link rel="stylesheet" href="./src/css/index.css">

</head>
<body>
<div class="body">
    <header>
        <div class="ha">
            <a href="#"><img src="./img/logo.png" alt=""></a>
            <div class="search">
                <form action="/">
                    <input type="text" name="search" id="search_ha"><i class="fa fa-search fa-lg"></i>
                </form>
            </div>
        </div>
        <div class="hb">
            <ul class="nav_top">
                <li><a href="javascript:void(0)" class="active">首页</a></li>
                <li><a href="face.html">脸
                    <div class="more">
                        <div class="item">
                            卸妆乳
                        </div>
                        <div class="item">
                            洁面乳
                        </div>
                        <div class="item">
                            BB霜
                        </div>
                        <div class="item">
                            粉底液
                        </div>
                        <div class="item">
                            腮红
                        </div>
                    </div>
                </a></li>
                <li><a href="eye.html">眼
                    <div class="more">
                        <div class="item">
                            眼影
                        </div>
                        <div class="item">
                            眼线笔
                        </div>
                        <div class="item">
                            卧蚕笔
                        </div>
                        <div class="item">
                            睫毛膏
                        </div>
                        <div class="item">
                            眉粉
                        </div>
                    </div>
                </a></li>
                <li><a href="lips.html">唇
                    <div class="more">
                        <div class="item">
                            唇彩
                        </div>
                        <div class="item">
                            唇部打底
                        </div>
                        <div class="item">
                            遮瑕膏
                        </div>
                    </div>
                </a></li>

                <li><a href="history.html">品牌历史</a></li>
                <li><a href="login.html">会员登录</a></li>
            </ul>
        </div>
    </header>
    <div class="nav_pic">
        <ul class="i_ul clear">
            <li class="iu_li"><a href="#"><img src="./img/p1.jpg" alt=""></a></li>
            <li class="iu_li"><a href="#"><img src="./img/p1.jpg" alt=""></a></li>
            <li class="iu_li"><a href="#"><img src="./img/p1.jpg" alt=""></a></li>
            <li class="iu_li"><a href="#"><img src="./img/p1.jpg" alt=""></a></li>
        </ul>
        <ul class="i_ul_pointer clear">
            <li class="pointer  p_active"></li>
            <li class="pointer"></li>
            <li class="pointer"></li>
            <li class="pointer"></li>
        </ul>

    </div>
    <section class="content" id="index_content">
        <!--这一行可以循环-->
        <div class="row_c">
            <index_content_header start="巨" other="热销" flag=true></index_content_header>
            <div class="content_c">
                <div v-for="item in index_hot" class="item">
                    <div class="title">{{item.desc}}</div>
                    <div class="good_pic_wrap">
                        <div class="icon"><img :src="item.img_level" alt=""></div>
                        <div class="good_pic">
                            <a href="#"><img :src="item.img_goods" alt=""></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row_c">
            <index_content_header start="巨" other="优惠" flag=false></index_content_header>
            <div class="content_c">
                <div class="sales">
                    <div v-for="item,i in index_sales">优惠套餐 {{i+1}}: <a :href="item.link">{{item.title}}</a></div>
                </div>
                <div class="sales_part_r">
                    <div class="btn"><i class="fa fa-chevron-left"></i></div>
                    <div class="sales_pics">
                        <img  v-for="item in index_sales" :src="item.img" alt="">
                    </div>
                    <div class="btn"><i class="fa fa-chevron-right"></i></div>
                </div>

            </div>
        </div>
        <div class="row_c">
            <index_content_header start="化" other="妆教程" flag=false></index_content_header>
            <div class="content_c">
                <!--可以自己写按钮，然后调用js实现控制-->
                <h5video width="218" height="147" v-for="item in index_tutorial" :v_src="item.video_src" :i_src="item.img_src"></h5video>
            </div>
        </div>
    </section>
    <footer>
        <p>公司地址：江苏省南京市鼓楼区紫峰大厦</p>
        <p>联系电话：15266666666</p>
        <p>版权信息：侵权必究</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="src/js/app.js"></script>
    <!--<script src="src/js/vue.js"></script>-->
    <script>
        Carousel(document.getElementsByClassName("nav_pic")[0]);
    </script>
</div>
</body>
</html>